<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RefundReasonMapper">
    
    <resultMap type="RefundReason" id="RefundReasonResult">
        <result property="id"    column="id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="reason"    column="reason"    />
        <result property="sort"    column="sort"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectRefundReasonVo">
        select id, merchant_id, reason, sort, create_by, create_time, update_by, update_time from refund_reason
    </sql>

    <select id="selectRefundReasonList" parameterType="RefundReason" resultMap="RefundReasonResult">
        <include refid="selectRefundReasonVo"/>
        <where>  
            <if test="merchantId != null "> and merchant_id = #{merchantId}</if>
            <if test="reason != null  and reason != ''"> and reason = like concat('%',#{reason},'%')</if>
            <if test="sort != null "> and sort = #{sort}</if>
        </where>
    </select>
    
    <select id="selectRefundReasonById" parameterType="Long" resultMap="RefundReasonResult">
        <include refid="selectRefundReasonVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRefundReason" parameterType="RefundReason" useGeneratedKeys="true" keyProperty="id">
        insert into refund_reason
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="merchantId != null">merchant_id,</if>
            <if test="reason != null and reason != ''">reason,</if>
            <if test="sort != null">sort,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="merchantId != null">#{merchantId},</if>
            <if test="reason != null and reason != ''">#{reason},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateRefundReason" parameterType="RefundReason">
        update refund_reason
        <trim prefix="SET" suffixOverrides=",">
            <if test="merchantId != null">merchant_id = #{merchantId},</if>
            <if test="reason != null and reason != ''">reason = #{reason},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRefundReasonById" parameterType="Long">
        delete from refund_reason where id = #{id}
    </delete>

    <delete id="deleteRefundReasonByIds" parameterType="String">
        delete from refund_reason where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>