<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SetMealItemMapper">

    <resultMap type="SetMealItem" id="SetMealItemResult">
        <result property="id" column="id"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="setMealId" column="set_meal_id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectSetMealItemVo">
        select id,
               merchant_id,
               set_meal_id,
               name,
               price,
               create_by,
               create_time,
               update_by,
               update_time
        from set_meal_item
    </sql>

    <select id="selectSetMealItemList" parameterType="SetMealItem" resultMap="SetMealItemResult">
        <include refid="selectSetMealItemVo"/>
        <where>
            <if test="setMealId != null ">and set_meal_id = #{setMealId}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="selectSetMealItemById" parameterType="Long" resultMap="SetMealItemResult">
        <include refid="selectSetMealItemVo"/>
        where id = #{id}
    </select>

    <insert id="insertSetMealItem" parameterType="SetMealItem">
        insert into set_meal_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="merchantId != null">merchant_id,</if>
            <if test="setMealId != null">set_meal_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="price != null">price,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="merchantId != null">#{merchantId},</if>
            <if test="setMealId != null">#{setMealId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="price != null">#{price},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSetMealItem" parameterType="SetMealItem">
        update set_meal_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="merchantId != null">merchant_id = #{merchantId},</if>
            <if test="setMealId != null">set_meal_id = #{setMealId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSetMealItemById" parameterType="Long">
        delete
        from set_meal_item
        where id = #{id}
    </delete>

    <delete id="deleteSetMealItemByIds" parameterType="String">
        delete from set_meal_item where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>