<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('添加活动')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <style>
    	.cxxx{
		    width: 100%;
		    background: #fff;
		    border-radius: 6px; 
		    margin-top: 10px;
		   /*  padding-top: 5px;
		    padding-bottom: 13px; */
		    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
		}
    </style>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="cxxx">
                <div  class="tabs-container">
                    <ul id="tabsss" class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1" id="home" aria-expanded="true"> 活动信息</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2" onclick="showSearch('formId1','bootstrap-table1')" aria-expanded="false">设置活动票</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-3" onclick="showSearch('formId2','bootstrap-table2')" aria-expanded="false">设置嘉宾</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-4" onclick="showSearch('formId3','bootstrap-table3')" aria-expanded="false">退款规则</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
	                         <div class="panel-body">
	                            <div class="wrapper wrapper-content animated fadeInRight ibox-content">
							        <form class="form-horizontal m" id="form-activity-add">
							        	<input name="id" class="form-control" type="hidden">
							            <div class="form-group">    
							                <label class="col-sm-3 control-label is-required">活动名称：</label>
							                <div class="col-sm-8">
							                    <input name="name" class="form-control" type="text" required>
							                </div>
							            </div>
							             <div class="form-group">    
							                <label class="col-sm-3 control-label is-required">活动图片：</label>
							                <div class="col-sm-8">
							                    <input type="hidden" name="picture">
							                    <div class="file-loading">
							                        <input class="form-control file-upload" id="picture" name="file" type="file">
							                    </div>
							                </div>
							            </div>
							             <div class="form-group">    
							                <label class="col-sm-3 control-label">详情：</label>
							                <div class="col-sm-8">
							                    <textarea name="details" class="form-control" rows="5"></textarea>
							                </div>
							            </div>
							            <div class="form-group">    
							                <label class="col-sm-3 control-label is-required">颜色：</label>
							                <div class="col-sm-8">
							                    <input name="color" class="form-control" type="text" required>
							                </div>
							            </div>
							            <div class="form-group">    
							                <label class="col-sm-3 control-label is-required">活动开始时间：</label>
							                <div class="col-sm-8">
							                    <div class="input-group date">
							                        <input name="startTime" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" type="text" required>
							                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							                    </div>
							                </div>
							            </div>
							            <div class="form-group">
							                <label class="col-sm-3 control-label is-required">活动结束时间：</label>
							                <div class="col-sm-8">
							                    <div class="input-group date">
							                        <input name="endTime" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" type="text" required>
							                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							                    </div>
							                </div>
							            </div>
							            <div class="form-group">
							                <label class="col-sm-3 control-label">退款规则说明：</label>
							                <div class="col-sm-8">
							                    <textarea name="refundRule" class="form-control" rows= 6></textarea>
							                </div>
							            </div>
							            <div class="form-group">
							            	 <label class="col-sm-3 control-label"></label>
							                <div class="col-sm-8">
							                   <a class="btn btn-primary single" onclick="submitHandler()" >
								                    <i class="fa fa-edit"></i>保存
								                </a>
								                <a class="btn btn-danger" onclick="closeItem()">
										            <i class="fa fa-reply-all"></i> 关闭
										        </a>
							                </div>    
							                
							            </div>
							        </form>
							    </div>
				            </div>
                        </div>
                        
                        <!-- 设置商品票  -->
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
	                            <div class="col-sm-11 search-collapse">
					               <form id="formId1">
					                    <div class="select-list">
					                    	 <input type="hidden" name="type" value="3"/>
					                    	 <input type="hidden" name="activityId" value="0"/>
					                        <ul>
					                            <li>
					                                <label>商品名称：</label>
					                                <input type="text" name="goodName"/>
					                            </li>
					                            <li>
					                                <label>商品状态：</label>
					                                <select name="goodStatus" th:with="type=${@dict.getType('good_status')}">
					                                    <option value="">所有</option>
					                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					                                </select>
					                            </li>
					                            <li>
					                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('formId1','bootstrap-table1')"><i class="fa fa-search"></i>&nbsp;搜索</a>
					                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('formId1','bootstrap-table1')"><i class="fa fa-refresh"></i>&nbsp;重置</a>
					                            </li>
					                        </ul>
					                    </div>
					                </form>
					            </div>
					
					            <div class="btn-group-sm" id="toolbar1" role="group">
					                <a class="btn btn-success" onclick="add1()" shiro:hasPermission="system:goods:add">
					                    <i class="fa fa-plus"></i> 添加
					                </a>
					                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:goods:edit">
					                    <i class="fa fa-edit"></i> 修改
					                </a>
					                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:goods:remove">
					                    <i class="fa fa-remove"></i> 删除
					                </a>
					                <a class="btn btn-danger" onclick="closeItem()">
										<i class="fa fa-reply-all"></i> 关闭
									</a>
					            </div>
					            <div class="col-sm-12 select-table table-striped">
					                <table id="bootstrap-table1"></table>
					            </div>
				            </div>
                        </div>
                        
                        <!-- 设置嘉宾 -->
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
	                            <div class="col-sm-11 search-collapse">
					                <form id="formId2">
					                    <div class="select-list">
					                        <ul> 
					                            <li>
					                                <label>嘉宾名字：</label>
					                                <input type="text" name="name"/>
					                                <input type="hidden" name="activityId" value="0"/>
					                            </li>
					                            <li>
					                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('formId2','bootstrap-table2')"><i class="fa fa-search"></i>&nbsp;搜索</a>
					                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('formId2','bootstrap-table2')"><i class="fa fa-refresh"></i>&nbsp;重置</a>
					                            </li>
					                        </ul>
					                    </div>
					                </form>
					            </div>
					
					            <div class="btn-group-sm" id="toolbar2" role="group">
					                <a class="btn btn-success" onclick="add1()" shiro:hasPermission="system:activityGuests:add">
					                    <i class="fa fa-plus"></i> 添加
					                </a>
					                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:activityGuests:edit">
					                    <i class="fa fa-edit"></i> 修改
					                </a>
					                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:activityGuests:remove">
					                    <i class="fa fa-remove"></i> 删除
					                </a>
					                <a class="btn btn-danger" onclick="closeItem()">
										<i class="fa fa-reply-all"></i> 关闭
									 </a>
					            </div>
					            <div class="col-sm-12 select-table table-striped">
					                <table id="bootstrap-table2"></table>
					            </div>
				            </div>
                        </div>
                        
                         <!-- 设置退款规则 -->
                        <div id="tab-4" class="tab-pane">
                            <div class="panel-body">
	                            <div class="col-sm-11 search-collapse">
					                <form id="formId3">
					                    <div class="select-list">
					                    	<input type="hidden" name="activityId" value="0"/>
					                        <ul>
					                          
					                            <li>
					                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('formId3','bootstrap-table3')"><i class="fa fa-search"></i>&nbsp;搜索</a>
					                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('formId3','bootstrap-table3')"><i class="fa fa-refresh"></i>&nbsp;重置</a>
					                            </li>
					                        </ul>
					                    </div>
					                </form>
					            </div>
				            </div>
				            <div class="btn-group-sm" id="toolbar3" role="group">
					                <a class="btn btn-success" onclick="add1()" shiro:hasPermission="system:activityRefundRule:add">
					                    <i class="fa fa-plus"></i> 添加
					                </a>
					                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:activityRefundRule:edit">
					                    <i class="fa fa-edit"></i> 修改
					                </a>
					                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:activityRefundRule:remove">
					                    <i class="fa fa-remove"></i> 删除
					                </a>
					                <a class="btn btn-danger" onclick="closeItem()">
										 <i class="fa fa-reply-all"></i> 关闭
									</a>
					            </div>
					            <div class="col-sm-12 select-table table-striped">
					                <table id="bootstrap-table3"></table>
					            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
            
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <script th:inline="javascript">
    	
	    function showSearch(formId,btable){
	    	if(activityId == 0){
	    		 //$("#tabsss a:first").tab('show')
	    		 $.modal.alert("请先保存活动信息!");
	    		 //$("a[id=home]")[0].click();
	    		
	    		 return;
	    	}
	    	 
	    	$.table.search(formId,btable);
	    }
	    
	    $("#form-activity-add").validate({
	        focusCleanup: true
	    });
		var activityId = 0;
	    function submitHandler() {
	        if ($.validate.form()) {
	        	//判断图片上传
            	var logo =  $("input[name='picture']").val();
            	if(!logo){
            		$.modal.alertError("请上传图片！");
            		return;
            	}
	        	var prefix = ctx + "system/activity"
	        	var id = $("input[name=id]").val();
	        	var url = prefix + "/add";
	        	if(id){
	        		 url = prefix + "/edit";
	        	}
	        	
	            $.ajax({
                    type: "post",
                    url: url,
            		data: $('#form-activity-add').serialize(),
            		dataType: 'json',
            		success: function(result) {
            		    if (result.code == 0) {
            		    	$.modal.alert("保存成功"); 
            		    	if(!id){
            		    		activityId = result.data;
                		    	$("input[name=id]").val(activityId);
                		    	$("input[name=activityId]").val(activityId);
            		    	}
            		    } else {
            		        $.modal.alertError(result.msg);
            		    }
            		},
            		error: function(error) {
            		    
            		}
            	});
	        }
	    }
	
	    $("input[name='startTime']").datetimepicker({
	        format: "yyyy-mm-dd hh:ii:ss",
	        minView: "hour",
	        autoclose: true
	    });
	    
	    $("input[name='endTime']").datetimepicker({
	        format: "yyyy-mm-dd hh:ii:ss",
	        minView: "hour",
	        autoclose: true
	    });
	
	    $(".file-upload").fileinput({
	        uploadUrl: ctx + 'common/upload',
	        maxFileCount: 1,
	        autoReplace: true
	    }).on('fileuploaded', function (event, data, previewId, index) {
	        $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
	    }).on('fileremoved', function (event, id, index) {
	        $("input[name='" + event.currentTarget.id + "']").val('')
	    })
    
        var prefix = ctx + "system/order";

	   

	    /* 商品信息 */
        $(function() {
        	var typeDatas = [[${@dict.getType('good_types')}]];
             var statusDatas = [[${@dict.getType('good_status')}]];
             var editFlag = [[${@permission.hasPermi('system:activityGoodsJoin:edit')}]];
             var removeFlag = [[${@permission.hasPermi('system:activityGoodsJoin:remove')}]];
             var prefix = ctx + "system/activityGoodsJoin";

            var options = {
            	id: "bootstrap-table1",
                toolbar: "toolbar1",
                formId: "formId1",
                url: prefix + "/list",
                createUrl: prefix + "/add/{id}",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "活动票",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'good.id',
                    title: '唯一主键',
                    visible: false
                },
                {
                    field: 'merchantName',
                    title: '商家信息'
                },
                {
                    field: 'good.type',
                    title: '商品类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(typeDatas, value);
                    }
                },
                {
                    field: 'good.name',
                    title: '商品名称'
                },
                {
                    field: 'good.description',
                    title: '商品描述'
                },
                {
                    field: 'good.price',
                    title: '商品价格'
                },
                {
                    field: 'good.quantity',
                    title: '商品数量'
                },
                {
                    field: 'good.status',
                    title: '商品状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.goodsId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
            
        });
	    function add1(){
	    	$.operate.add(activityId);
	    }
        
        
        /* 嘉宾*/
       $(function() {
        	var editFlag = [[${@permission.hasPermi('system:activityGuests:edit')}]];
            var removeFlag = [[${@permission.hasPermi('system:activityGuests:remove')}]];
            var prefix = ctx + "system/activityGuests";
            var options = {
            	id: "bootstrap-table2",
                toolbar: "toolbar2",
                formId: "formId2",
                url: prefix + "/list",
                createUrl: prefix + "/add?id={id}",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "活动嘉宾",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '唯一主键',
                    visible: false
                },
                {
                    field: 'name',
                    title: '嘉宾名字'
                },
                {
                    field: 'picture',
                    title: '嘉宾图片',
                    formatter: function(value, row, index) {
                   	   return $.table.imageView(value, 100,100 , 'self',false);
                   }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        /* 规则 */
        $(function() {
        	var editFlag = [[${@permission.hasPermi('system:activityRefundRule:edit')}]];
            var removeFlag = [[${@permission.hasPermi('system:activityRefundRule:remove')}]];
            var prefix = ctx + "system/activityRefundRule";
            var options = {
            	id: "bootstrap-table3",
                toolbar: "toolbar3",
                formId: "formId3",
            	url: prefix + "/list",
                createUrl: prefix + "/add/{id}",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "活动退款规则",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '唯一主键',
                    visible: false
                },
               
                {
                    field: 'refundTime',
                    title: '退款规则',
                    formatter: function(value, row, index){
                    	var conditionType = (row.conditionType == 1?' 前':' 后');
                    	var isAllow = (row.isAllow == 0?'不允许退款':'允许退款');
                    	
                    	return row.refundTime + conditionType + " , " + isAllow +" , 退款比例 ：" + row.refundRate +"%";
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        
    </script>
    <script type="text/javascript">
 
    
  
    </script>
</body>
</html>