<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改商品')" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-goods-edit" th:object="${goods}">
            <input name="id" th:field="*{id}" type="hidden">
            <h4 class="form-header h4">商品信息</h4>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商家ID：</label>
                <div class="col-sm-8">
                    <input name="merchantId" th:field="*{merchantId}" class="form-control" type="text" disabled="disabled">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品类型：</label>
                <div class="col-sm-8">
                    <select name="type"  th:field="*{type}" class="form-control m-b" th:with="type=${@dict.getType('good_types')}" disabled>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label ">商品名称：</label>
                <div class="col-sm-8">
                    <input name="name" th:field="*{name}" class="form-control" type="text" disabled>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label ">商品描述：</label>
                <div class="col-sm-8">
                    <input name="description" th:field="*{description}" class="form-control" type="text" disabled>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label ">商品价格：</label>
                <div class="col-sm-8">
                    <input name="price" th:field="*{price}" class="form-control" type="text" disabled>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品数量：</label>
                <div class="col-sm-8">
                    <input name="quantity" th:field="*{quantity}" class="form-control" type="text" disabled>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">商品状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="status" value="1"  required>
                        <label>审核通过</label>
                        
                    </div>
                    <div class="radio-box">
	                    <input type="radio" name="status" value="0"  required>
	                    <label>审核失败</label>
                     </div>
                </div>
            </div>
            
            <!-- 活动信息  -->
            <div th:if="${activity !=null}" th:object="${activity}">
				<h4 class="form-header h4">活动信息</h4>
				<div class="form-group">
					<label class="col-sm-3 control-label is-required">活动ID：</label>
					<div class="col-sm-8">
						<input th:field="*{id}" class="form-control" type="text" disabled="">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label is-required">活动名称：</label>
					<div class="col-sm-8">
						<input th:field="*{name}" class="form-control" type="text" disabled="">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label is-required">活动图片：</label>
					<div class="col-sm-8">
						<a href="javascript:void(0)" class="thumbnail">
				          <img class='img-circle2 img-xs' data-height='600' data-width='auto' data-target='self'  alt="活动图片" style="height: 180px; width: 120px; display: block;" th:src="${activity.picture}" data-holder-rendered="true">
				        </a>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">活动详情：</label>
					<div class="col-sm-8">
						<textarea  class="form-control" rows="5" disabled>[[*{details}]]</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label ">颜色：</label>
					<div class="col-sm-8">
						<input  th:field="*{color}" class="form-control" type="text" disabled>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label ">活动开始时间：</label>
					<div class="col-sm-8">
						<div class="input-group date">
							<input th:value="${#dates.format(activity.startTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" disabled> 
							<span class="input-group-addon"> <i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label ">活动结束时间：</label>
					<div class="col-sm-8">
						<div class="input-group date">
							<input th:value="${#dates.format(activity.endTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" disabled> 
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">退款规则说明：</label>
					<div class="col-sm-8">
						<textarea class="form-control" rows=6 disabled>[[*{refundRule}]]</textarea>
					</div>
				</div>

			</div>
         	
         	<!-- 套餐信息  -->
        	<div  th:if="${setMeal !=null}" th:object="${setMeal}">
        		<h4 class="form-header h4">套餐信息</h4>
        		<div class="form-group">
					<label class="col-sm-3 control-label ">套餐ID：</label>
					<div class="col-sm-8">
						<input th:field="*{id}" class="form-control" type="text" disabled="">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label ">套餐名称：</label>
					<div class="col-sm-8">
						<input th:value="${goods.name}" class="form-control" type="text" disabled="">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label is-required">套餐图片：</label>
					<div class="col-sm-8">
						<div class="col-xs-6 col-md-3" th:each="srcPic : ${setMealPics}">
					       <a href="javascript:void(0)" class="thumbnail">
					          <img class='img-circle2 img-xs' data-height='600' data-width='auto' data-target='self'  alt="100%x180" style="height: 180px; width: 100%; display: block;" th:src="${srcPic}" data-holder-rendered="true">
					        </a>
					    </div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">使用须知：</label>
					<div class="col-sm-8">
						<textarea  rows="5" th:field="*{notice}" class="form-control" disabled></textarea>
					</div>
				</div>
			</div>
        
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <script th:inline="javascript">
					var prefix = ctx + "system/goods";
					$("#form-goods-edit").validate({
						focusCleanup : true
					});

					function submitHandler() {
						if ($.validate.form()) {
							$.operate.save(prefix + "/check", $(
									'#form-goods-edit').serialize());
						}
					}

					$(".file-upload")
							.each(
									function(i) {
										var val = $(
												"input[name='" + this.id + "']")
												.val()
										$(this)
												.fileinput(
														{
															'uploadUrl' : ctx
																	+ 'common/upload',
															initialPreviewAsData : true,
															initialPreview : [ val ],
															maxFileCount : 1,
															autoReplace : true
														})
												.on(
														'fileuploaded',
														function(event, data,
																previewId,
																index) {
															$(
																	"input[name='"
																			+ event.currentTarget.id
																			+ "']")
																	.val(
																			data.response.url)
														})
												.on(
														'fileremoved',
														function(event, id,
																index) {
															$(
																	"input[name='"
																			+ event.currentTarget.id
																			+ "']")
																	.val('')
														})
										$(this).fileinput('_initFileActions');
									});

					$("#form-goods-edit")
							.off("click")
							.on(
									"click",
									'.img-circle2',
									function() {
										var src = $(this).attr('src');
										var target = $(this).data('target');
										if ($.common.equals("self", target)) {
											var height = $(this).data('height');
											var width = $(this).data('width');
											// 如果是移动端，就使用自适应大小弹窗
											if ($.common.isMobile()) {
												width = 'auto';
												height = 'auto';
											}
											layer
													.open({
														title : false,
														type : 1,
														closeBtn : true,
														shadeClose : true,
														area : [ 'auto', 'auto' ],
														content : "<img src='" + src + "' height='" + height + "' width='" + width + "'/>"
													});
										} else if ($.common.equals("blank",
												target)) {
											window.open(src);
										}
									});
				</script>
</body>
</html>