<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('商品列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>商家ID：</label>
                                <input type="text" name="merchantId"/>
                            </li>
                             <li>
                                <label>商品名称：</label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label>商品类型：</label>
                                <select name="type" th:with="type=${@dict.getType('good_types')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                           
                            <li>
                                <label>商品状态：</label>
                                <select name="status" th:with="type=${@dict.getType('good_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <!-- <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:goods:add">
                    <i class="fa fa-plus"></i> 添加
                </a> -->
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:goods:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:goods:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:goods:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:goods:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:goods:remove')}]];
        var checkFlag = [[${@permission.hasPermi('system:goods:check')}]];
        var cloesFlag = [[${@permission.hasPermi('system:goods:close')}]];
        var againDeliverFlag = [[${@permission.hasPermi('system:goods:againDeliver')}]];
        
        var typeDatas = [[${@dict.getType('good_types')}]];
        var statusDatas = [[${@dict.getType('good_status')}]];
        var prefix = ctx + "system/goods";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "商品",
                sortName: "createTime",
                sortOrder: "desc",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '唯一主键',
                    visible: false
                },
                {
                    field: 'merchantName',
                    title: '商家名称',
                    formatter: function(value, row, index) {
                        return value + " ("+row.merchantId+")";
                     }
                },
                {
                    field: 'type',
                    title: '商品类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(typeDatas, value);
                    }
                },
                {
                    field: 'name',
                    title: '商品名称'
                },
                {
                    field: 'description',
                    title: '商品描述'
                },
                {
                    field: 'price',
                    title: '商品价格'
                },
                {
                    field: 'quantity',
                    title: '商品数量'
                },
                {
                    field: 'status',
                    title: '商品状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.status == 0){
                        	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        	actions.push('<a class="btn btn-success btn-xs ' + checkFlag + '" href="javascript:void(0)" onclick="check(\'' + row.id + '\')"><i class="fa fa-edit"></i>审核商品</a> ');
                        	
                        }
                        if(row.status == 2 || row.status == 3){
                        	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            actions.push('<a class="btn btn-warning btn-xs ' + againDeliverFlag + '" href="javascript:void(0)" onclick="againDeliver(' + row.id + ',\'' + row.name + '\')"><i class="fa fa-edit"></i>重新提交</a> ');
                        }
                        if(row.status == 1){
                        	actions.push('<a class="btn btn-danger btn-xs ' + cloesFlag + '" href="javascript:void(0)" onclick="cloesG(' + row.id + ',\'' + row.name + '\')"><i class="fa fa-edit"></i>下架</a> ');
                        }
                        if(row.status == 0 ||　row.status == 2 || row.status == 3){
                        	actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        }
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        /* 审核商品 */
        function check(id){
        	$.modal.open("审核商品", prefix + "/check/"+id);
        }
        
        /* 下架商品 */
        function cloesG(id,name){
        	$.modal.confirm("确认要下架商品：" + name + " 吗?", function() {
        		 $.operate.submit( prefix + "/close/"+id, "post", "json", {});
    		});
        }
        
        /* 重新提交 */
        function againDeliver(id,name){
        	$.modal.confirm("确认要提交审核该商品：" + name + " 吗?", function() {
        		 $.operate.submit( prefix + "/againDeliver/"+id, "post", "json", {});
    		});
        }
    </script>
</body>
</html>